@import "tailwindcss";

@theme{

    --font-inter: 'Inter', sans-serif;
    --font-mono:'Roboto Mono', 'monospace';
    --font-edu-sa:'Edu SA Beginner', 'cursive';

    /* Color */
    
    --color-light:'#96ab9b';
    --color-transparent:'#ffffff00';

    /* Color White */
    --color-white-5: #00000000;
    --color-Black-5 :"#484848";

    /* Color Rich Balck */
    --color-richblack-5: #F1F2FF;
    --color-richblack-25: #DBDDEA;  
    --color-richblack-50: #C5C7D4;
    --color-richblack-100: #AFB2BF;
    --color-richblack-200: #999DAA;
    --color-richblack-300: #838894;
    --color-richblack-400: #6E727F;
    --color-richblack-500: #585D69;
    --color-richblack-600: #424854;
    --color-richblack-700: #2C333F;
    --color-richblack-800: #161D29;
    --color-richblack-900: #000814;

    /* Color Rich Blue */
    --color-richblue-5: #ECF5FF;
    --color-richblue-25: #C6D6E1;
    --color-richblue-50: #A0B7C3;
    --color-richblue-100: #7A98A6;
    --color-richblue-200: #537988;
    --color-richblue-300: #2D5A6A;
    --color-richblue-400: #073B4C;
    --color-richblue-500: #063544;
    --color-richblue-600: #042E3B;
    --color-richblue-700: #032833;
    --color-richblue-800: #01212A;
    --color-richblue-900: #001B22;

    /* Color Blue */
    --color-blue-5: #EAF5FF;
    --color-blue-25: #B4DAEC;
    --color-blue-50: #7EC0D9;
    --color-blue-100: #47A5C5;
    --color-blue-200: #118AB2;
    --color-blue-300: #0F7A9D;
    --color-blue-400: #0C6A87;
    --color-blue-500: #0A5A72;
    --color-blue-600: #074B5D;
    --color-blue-700: #053B48;
    --color-blue-800: #022B32;
    --color-blue-900: #001B1D;


    /* Color Carib Green */
    --color-caribgreen-5: #C1FFFD;
    --color-caribgreen-25: #83F1DE;
    --color-caribgreen-50: #44E4BF;
    --color-caribgreen-100: #06D6A0;
    --color-caribgreen-200: #05BF8E;
    --color-caribgreen-300: #05A77B;
    --color-caribgreen-400: #049069;
    --color-caribgreen-500: #037957;
    --color-caribgreen-600: #026144;
    --color-caribgreen-700: #014A32;
    --color-caribgreen-800: #01321F;
    --color-caribgreen-900: #001B0D;

    /* Color Brown */
    --color-brown-5: #FFF4C4;
    --color-brown-25: #FFE395;
    --color-brown-50: #FFD166;
    --color-brown-100: #E7BC5B;
    --color-brown-200: #CFA64F;
    --color-brown-300: #B89144;
    --color-brown-400: #A07C39;
    --color-brown-500: #88662D;
    --color-brown-600: #705122;
    --color-brown-700: #593C17;
    --color-brown-800: #41260B;
    --color-brown-900: #291100;


    /* Color Pink */
    --color-pink-5: #FFF1F1;
    --color-pink-25: #FBC7D1;
    --color-pink-50: #F79CB0;
    --color-pink-100: #F37290;
    --color-pink-200: #EF476F;
    --color-pink-300: #D43D63;
    --color-pink-400: #BA3356;
    --color-pink-500: #9F294A;
    --color-pink-600: #841E3E;
    --color-pink-700: #691432;
    --color-pink-800: #4F0A25;
    --color-pink-900: #340019;


    /* Color Yellow */
    --color-yellow-5: #FFF970;
    --color-yellow-25: #FFE83D;
    --color-yellow-50: #FFD60A;
    --color-yellow-100: #E7C009;
    --color-yellow-200: #CFAB08;
    --color-yellow-300: #B69507;
    --color-yellow-400: #9E8006;
    --color-yellow-500: #866A04;
    --color-yellow-600: #6E5503;
    --color-yellow-700: #553F02;
    --color-yellow-800: #3D2A01;
    --color-yellow-900: #251400;


    /* Color Pure-Greys */

    --color-puregreys-5: #F9F9F9;
    --color-puregreys-25: #E2E2E2;
    --color-puregreys-50: #CCCCCC;
    --color-puregreys-100: #B5B5B5;
    --color-puregreys-200: #9E9E9E;
    --color-puregreys-300: #888888;
    --color-puregreys-400: #717171;
    --color-puregreys-500: #5B5B5B;
    --color-puregreys-600: #444444;
    --color-puregreys-700: #2D2D2D;
    --color-puregreys-800: #171717;
    --color-puregreys-900: #141414;


    --color-grey-100: #E8EAEC;
    --color-grey-200: #9A9A9A;
    --color-grey-300: #E0E2E6;

    --color-Orange-100: #FFA500;

    /* This is the  break point for the screens */
    --breakpoint-sm: 650px;
    --breakpoint-lg: 1260px;
}

/* This is of thee  listting */

.listing_one{
  margin-top: 30px;
}

.join_card{
  padding: 20px 20px;
}

.join_card_name{
  margin: 10px 0px 0px 6px;
}

.mmls{
  margin-left: 30px;
}

.card_Button{
  margin-left: 50px;
}
.slideers{
  margin: 10px 50px;
}

.Finderrs{
  margin: 10px 50px;
}


.left_side{
  padding-left: 20px;
}

.Finderr_btn{
  margin-left: 10px;
  padding: 20px 20px;
}

.liness{
  margin-top: 0px;
}

.movv{
  margin-top: 10px;
}


.input_box{
  margin-top: 2px;
}


.input-caret {
  padding-left: 12px; 
}



.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background:white;
  opacity: 1;
}


.react-switch {
    vertical-align: end;
    margin-left: 4px;
  }

   
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
} 
 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.navbar {
  border-bottom-width: 2px;
  margin-bottom: 5rem;
}

.swiper-container {
  margin-top: 2rem;
}


/* Thi is forr the buttton changes in tthe footerr */
.BUTTON_DESIGN{
  padding: 5px 10px 5px 10px;
}


.About_Button{
  padding: 10px 10px 10px 10px;
}

.line{
  margin-left: 10px;
}

.triangle-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid ;
}


.lines{
  padding-bottom: 10px;
}


.Day_Night{
  padding: 10px 30px 10px 30px;
}


.Contentt{
  padding: 5px 10px px 10px;
}


.Aboutus{
  padding-bottom: 100px;
}

.number_input{
  margin-top: 14px;
}
.number{
  padding-left: 10px;
}

.Form_Heading{
  margin-top: 10px;
}

.Main_Form{
  margin-top: 20px;
}

.form_email{
  margin-top: 10px;
}

.Message_Btn{
  margin-top: 10px;
}



.Names{
  padding-left: 15px;
}


.Messages{
  padding-left: 10px;
  padding-top: 20px;
}

.Btns{
  margin-top: 10px;
  height: 50px;
  margin-bottom: 10px;
}







.lable-style {
  @apply text-[14px] text-richblack-5;
}
.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}



.Number_inputs{
  margin-top: 30px;
  padding-top: 10px;
}



/* HTML: <div class="loader"></div> */
/* 
.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
} */
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.Main_Data{
  margin-left: 20px;
}

.COntact_Up{
  margin-top: 20px;
}

.Line_Head{
  margin-top: 10px;
}

.Form_data_one{
  margin-top: 10px;
}

.org_dropdown{
  margin-top: 13px;
}

.Name{
  margin-top: 20px;
}

.email_box{
  margin-left: 100px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.line_Difference{
  margin-bottom: 10px;
}

.phoneNubers{
  margin-top: 30px;
}

.Heading{
  margin-top: 20px;
}

.Bottom{
  margin-bottom: 20px;
}


.Level2Btns{
  margin-top: 10px;
}


.Genre_height{
  margin-top: 20px;
}


.Con{
  margin-top: 20px;
}

.Career{
  margin-top: 20px;
}

.Projects{
  margin-top: 40px;
}

.Port_upper,.Number,.Prod,.Exp{
  margin-top: 10px;
}


.Btns{
  margin-top: 40px;
}




.Final{
  margin-top: 40px;
}


.Email_Left{
  margin-left: 10px;
}

.image_Changes{
  margin-top: 10px;
}

.Sliders{
  margin-top: 70px;
}

.Org_Btns{
  padding: 10px 0px 10px 0px;
  margin-top: 6px;
}

.Logins{
  margin-top: 20px;
}

.NUmbers{
  margin-left: 4px;
}


.bgs{
  border: 50%;
  border-radius: 50%;
  width: 20px;
}

.Image_tops{
  margin-top: 40px;
}


.EmailSign,.Country,.Password,.Name,.Button{
  margin-top: 20px;
} 


.slide{
  margin-top: 20px;
}

/* Signup form entrance animation */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-form-animate {
  animation: fadeSlideUp 0.4s ease-out;
}


.Creations{
  margin-top: 10px;
}


.Register{
  margin-top: 2px;
}

.Pass{
  margin-top: 10px;
}


.Forgot{
  margin-top: 10px;
  margin-bottom : 1px;
}

.Sides{
  margin-top: 10px;
  margin-left: 10px;
}

.DashLine{
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
} 


.Profiles{
  padding:6px 6px 6px 6px;
}


.FirstProfile{
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.SecondProfile,.ThirdProfile,.FourthProfile{
  padding: 8px 8px 8px 8px;
}


.BUttons{
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

.Main{
  padding: 16px 16px 16px 16px;
}

.Home{
  margin-bottom: 4px;
}
.Texts{
  margin-left: 4px;
  margin-right: 4px;
}

.Sixers{
  margin-bottom: 10px;
}


.Active{
  padding: 6px 12px 6px 12px;
  margin-left: 10px;
}

.TagLines{
  padding: 18px 16px 12px 18px;
}

.Tabs{
  padding: 12px 18px 12px 18px;
  margin-left: 10px;
}

.Data{
  padding: 16px 18px;
}

.Menu{
  padding: 8px;
}

.CC{
  margin-top: 8px;
  padding: 8px 0px;
}

.Completion{
  padding: 8px 16px 8px 16px;
}

.Shows{
  padding-left: 40px;
}

.Duration{
  padding: 12px 0px 12px 50px;
}

.Purchase{
  padding: 12px 50px 12px 65px;
}

.Price{
  padding: 0px 50px 0px 95px;
}

.Progress{ 
  margin-left: 20px;
}

.Paginations{
  margin-top: 8px;
}

.Aaaa{
  padding: 4px 8px 4px 20px;
}


.Drop{
  padding: 8px 8px 8px 8px;
}

.subMenu{
  margin-left: 32px;
  margin-top: 8px;
}

.Close{
  padding:8px 8px 8px 8px;
}

.Tags1{
  padding-left: 20px;
}

.subMenu1{
  margin-left: 32px;
  margin-top: 18px;
}


.Statusss{
  margin-top: 8px;
}


.Secondss{
  padding: 20px 0px 0px 0px;
}


.Verificationss{
  margin-bottom: 24px;
  padding: 20px 0px 0px 20px;
}

.Form{
  margin-top: 10px;
}


.Backgroundss{
  margin-top: 50px;
}

.Project{
  margin-top: 50px;
}

.Distrubations{
  margin-top: 50px;
}

.Supports{
  margin-top: 50px;
}

.Roles{
  margin-top: 50px;
  margin-bottom: 50px;
}

.Policy{
  margin-top: 50px;
  margin-bottom: 150px;
}

.Emails{
  margin-top: 30px;
}

.Whatsappp{
  margin-top: 10px;
}

.Location{
  margin-top: 10px;
}

.Addres{
  margin-top: 20px;
  margin-bottom: 20px;
}

.Perm{
  margin-top: 10px;
}

.Uploadeser{
  margin-top: 10px;
}

.Buttonss{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Genderrres{
  margin-top: 30px;
}

.BIO{
  margin-top: 20px;
}
.Working{
  margin-top: 10px;
}

.OIB{
  margin-bottom: 8px;
}

.Projectsss{
  margin-top: 20px;
}

.Adding{
  margin-top: 12px;
  padding: 4px 16px 4px 16px;
}
.Show{
  margin-top: 20px;
}

.Socialss{
  margin-top: 30px;
}
.One{
  margin-top: 10px;
}

.dGsss{
  margin-top: 20px;
}

.Datass{
  margin: 1px 2px 1px 2px;
  padding: 1px 12px 1px 12px;
}

.Subo{
  padding: 1px 8px 1px 8px;
}

.Distribute{
  margin-bottom: 20px; 
  padding-bottom: 20px;
}

.b{
  margin-bottom: 20px;
}
.dpp{
  padding-bottom: 20px;
}

.Last_Field{
  padding-bottom: 20px;
}

.role{
  padding-bottom: 20px;
}

.Btnes{
  padding: 18px 20px 18px 16px;
}

.iMGAEESS{
  padding-bottom: 40px;
}

.pp{ 
  margin: 50px 0px 100px 0px;
}

.logot{
  padding: 24px 24px 24px 24px;
}

.text-2{
  margin-top: 12px;
  margin-bottom: 20px;
}

.btens{
  padding: 12px 20px 12px 20px;
}

.cc{
  padding: 12px 16px 12px 16px;
}

.SelectionOne{
  margin-top: 24px;
  padding:24px 24px 24px 24px;
}

.Liness{
  margin-bottom: 14px;
}

.Texetions{
  padding: 8px 12px 8px 12px;
}

.Dynamics{
  padding: 12px 12px 12px 12px;
}

.awa{
  padding: 0px 12px 0px 12px;
}

.TaS{
  margin-top: 20px;
}

.Softs{
  padding: 12px 12px 12px 12px;
  margin-top: 20px;
}

.selectTool{
  padding: 10px 5px 10px 5px;
}

.S{
  margin-top: 20px;
  margin-bottom: 20px;
}

.T{
  margin-top: 10px;
}

.Fundes{
  margin: 20px 0px 20px 0px;
}

.f{
  padding: 1px 12px 1px 12px;
}

.any{
  padding: 8px 12px 8px 12px;
}

.PI{
  margin-bottom: 20px;  
}

.Pa{
  padding-top: 20px;
  padding-left: 20px;
}

.COUNTS{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.b{
  margin-top: 20px;
}

.Seperation{
  padding-left: 10px;
}


@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}
